### CSV to Database

In [2]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.0-unsupported)

In [3]:
import pandas as pd
import pyodbc

In [4]:
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0']

In [17]:
cnxn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', 
                      host="LAPTOP-3T4UQ4LQ\SQLEXPRESS", database="master", trusted_connection="yes",
                      user="LAPTOP-3T4UQ4LQ\sheri",password="")

In [18]:
df = pd.read_csv("BitcoinPrice.csv")

In [19]:
df.head()

   Unnamed: 0      Timestamp      BTCPrice
0           0  1641860100000  41854.041066
1           1  1641861000000  41785.570672
2           2  1641861900000  41766.973148
3           3  1641862800000  41732.555234
4           4  1641863700000  41731.888963

In [20]:
df=df.drop(columns="Unnamed: 0")

In [21]:
df

         Timestamp      BTCPrice
0    1641860100000  41854.041066
1    1641861000000  41785.570672
2    1641861900000  41766.973148
3    1641862800000  41732.555234
4    1641863700000  41731.888963
..             ...           ...
283  1642114800000  42644.391231
284  1642115700000  42719.903199
285  1642116600000  42637.708304
286  1642117500000  42709.836708
287  1642118400000  42560.541189

[288 rows x 2 columns]

In [22]:
df.columns

Index(['Timestamp', 'BTCPrice'], dtype='object')

In [23]:
df.dtypes

Timestamp      int64
BTCPrice     float64
dtype: object

In [48]:

cnxn.execute('''
		CREATE TABLE Bitcoinss (
			Timestamp BIGINT,
			BTCPrice FLOAT
			)
               ''')

In [49]:
cnxn.commit()

In [52]:

for row in df.itertuples():
    cnxn.execute('''
                INSERT INTO Bitcoinss (Timestamp, BTCPrice)
                VALUES (?,?)
                ''',
                row.Timestamp, 
                row.BTCPrice
                )
cnxn.commit()